img{
	width: 184px;
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.img{
	margin:20px 10px 0px 70px;
}
.copyright *{
	margin: 0px;
}
footer{
	border-top:1px solid #6176F7;
	padding: 15px;
}